ion-item.selected {
  border: 2px solid #c1272c6c; /* Color del borde cuando la opción está seleccionada */
  border-radius: 8px;
}

ion-icon {
  margin-right: 8px;
}
.icon-image {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

ion-item {
  margin-bottom: 20px; /* Aumentar el espacio entre los elementos */
  --background: #f9f9f9; /* Color de fondo predeterminado de las opciones */
  padding: 12px; /* Añadir padding para mayor separación interna */
  border-radius: 8px; /* Bordes redondeados */
}

ion-item.selected ion-label {
  font-weight: bold; /* Negrita para la opción seleccionada */
}

ion-button {
  margin-top: 20px;
}


