<ion-header>
  <ion-toolbar>
    <ion-title>Objetivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="progress-bar">
    <ion-progress-bar value="0.25"></ion-progress-bar>
  </div>

  
  <div class="container">
    <h2>Comencemos con tus objetivos</h2>
    <p>Selecciona uno que sea importante para ti.</p>

    <div class="options">
      <ion-card
        [ngClass]="{'selected': selectedGoal === 'lose-weight'}"
        (click)="selectGoal('lose-weight')"
      >
        <ion-card-content>
          Perder peso
        </ion-card-content>
      </ion-card>

      <ion-card
        [ngClass]="{'selected': selectedGoal === 'maintain-weight'}"
        (click)="selectGoal('maintain-weight')"
      >
        <ion-card-content>
          Mantener peso
        </ion-card-content>
      </ion-card>

      <ion-card
        [ngClass]="{'selected': selectedGoal === 'gain-weight'}"
        (click)="selectGoal('gain-weight')"
      >
        <ion-card-content>
          Aumentar peso
        </ion-card-content>
      </ion-card>
    </div>

    <ion-button
      expand="block"
      [disabled]="!selectedGoal"
      (click)="nextPage()"
    >
      Siguiente
    </ion-button>
  </div>
</ion-content>
