<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Mensaje de bienvenida -->
  <ion-card class="welcome-card" >
    <ion-card-header>
      <ion-card-title>Bienvenido a tu aplicación de salud</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aquí puedes realizar un seguimiento de tus objetivos de salud y encontrar recomendaciones personalizadas para alcanzar tus metas.</p>
    </ion-card-content>
  </ion-card>

  <!-- Información sobre el objetivo diario -->
  <ion-card>
    <ion-card-header class="center-content">
      <ion-card-subtitle>Tu objetivo diario es:</ion-card-subtitle>
      <div class="center-row">
        <ion-card-title color="success" class="bold-text">1,256</ion-card-title>
        <ion-badge color="tertiary" class="rounded-badge">Calorías</ion-badge>
      </div>
    </ion-card-header>
    <ion-card-content class="center-content">
      <img src="assets/images/fire.png" alt="Calorías" class="card-image">
      <p>Para mantener tu peso actual, necesitas consumir 1,256 calorías diarias.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen de Métricas Semanales</ion-card-title>
    </ion-card-header>
    <ion-card-content class="metrics-content">
      <!-- Contenedor flex para alinear horizontalmente las métricas y sus imágenes -->
      <div class="metrics-container">
        <div class="metric-item">
          <img src="assets/images/fireb.png" alt="Calorías" class="metric-icon">
          <p>Calorías Consumidas </p>
          <p>15,000</p>
        </div>
        <div class="metric-item">
          <img src="assets/images/walk.png" alt="Pasos" class="metric-icon">
          <p>Pasos Dados</p>
          <p>70,000</p>
        </div>
        <div class="metric-item">
          <img src="assets/images/person.png" alt="Minutos" class="metric-icon">
          <p>Minutos de Ejercicio</p>
          <p>300</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  

  <!-- Recordatorios -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recordatorios</ion-card-title>
    </ion-card-header>
    <ion-card-content class="reminders-content">
      <p>Recuerda beber suficiente agua y hacer ejercicio diariamente.</p>
      <!-- Contenedor flex para alinear horizontalmente las imágenes -->
      <div class="reminders-images">
        <img src="assets/images/drink-water.png" alt="Agua" class="reminder-icon">
        <img src="assets/images/weightlifting.png" alt="Ejercicio" class="reminder-icon">
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>
