<ion-header [translucent]="true">
  
</ion-header>

<ion-content class="ion-padding ion-text-center" >
  <img src="../../assets/icon/corriendo2.png" class="logo" alt="">

  <div class="title">
    <h2>Welcome</h2>
    <p>Health Fitness</p>
  </div>

  <div class="ion-margin-top">
    <ion-button expand ="block" class="ion-margin-top" (click)="signup()" fill="outline" >SIGN UP</ion-button>
    <ion-button expand ="block" class="ion-margin-top" (click)="login()">LOGIN</ion-button>
  </div>
</ion-content>
